.index {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    &-hero {
        position: relative;
        display: table;
        width: 100%;
        height: 100%;
        background: url(images/index-bg.svg) no-repeat center center;
        background-size: cover; 
    }

    &-hero-inner {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        color: $mono-colour-xxlight;
    }
}
