
.section-inner {
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;   
}

// Colours

$site-bg: #fff;
$heading-colour: ;
$type-colour: ;
$link-colour: ;

$primary-colour: ;
$primary-colour-light: ;
$primary-colour-dark: ;

$secondary-colour: ;
$secondary-colour-light: ;
$secondary-colour-dark: ;

$mono-colour: ;
$mono-colour-xxlight: #fff;
$mono-colour-xxdark: #000;